header, footer{
     background-image:linear-gradient(var(--blue2),var(--blue3));
}

#headerLogo{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    width: 100%;
    align-items: center;
    justify-content: center;
    justify-content: left;
}

#evolutionLogo{
    grid-column: 1;
    height: 70px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 20px;
}

#nameLogo{
    grid-column: 2;
    justify-self: center;
    max-width: 300px;
    width: 80%;
}

.option-bar{
    z-index: 100;
    position: sticky;
    top: -1px;
    flex-direction:column-reverse;
    background-color: var(--blue3);

    padding: 5px;
}

#menu-principal{
    max-width: 1300px;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out;
}

.inactive{
    margin: 0;
    opacity: 0;
    height: 0px;
}

.menu-principal-btn{
    background-image: radial-gradient(var(--green1), var(--green2));
    
    text-align: center;
    font-weight: bold;
    font-size: 1rem;

    border-radius: 5px;
}

.menu-principal-btn a{
    padding: 15px;
    width: 150px;
    height: 50px;
    color: var(--font-green);
    text-decoration: none;
}

#menu-principal ul{
    flex-wrap: wrap;
    gap: 15px;

    list-style-type: none;
}

.open-close-menu{
    justify-content: center;
    gap: 5px;

    background-color: transparent;
    margin-left: 14px;
    padding: 5px 0px 0px 2px;

    color: white;
    font-size: 12px;
    font-weight: bold;

    border: none;
    border-bottom:2px solid transparent;
}

.open-close-menu span{
    display: inline-block;

    font-size: 8px;

    transition: transform 0.4s ease-in-out;
}

h1{
    margin-top: 30px;
    margin-bottom: 15px;
    font-family: 'Niconne', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-style: normal;
    font-size: clamp(1.5em, 12vw, 3em);
}

main{
    overflow-y: auto;
    margin: auto;
}


.secao{
    margin-bottom: 20px;

    padding: 10px;
    border-bottom: 1px solid var(--red);
    border-radius: 0px 0px 5px 0px;
}


.secao h2{
    margin-bottom: 10px;
    font-size: 1.3em;
}

.secao p{
    max-width: 800px;
    text-indent: 30px;
    line-height: 1.4em;
}

.section-info{
    justify-self: center;
}

.section-info img{
    float: left;
    width: 300px;
    max-width: 33%;

    margin-right: 10px;

    animation: floating 3s ease-in-out infinite;
}

#destaque{
    background-color: var(--red1);

    padding: 10px;
}

#destaque p{
    max-width: 100%;
}

footer{
    margin-top: 10px;
    padding: 4px;

    text-align: center;
}

footer a{
    background-image: linear-gradient(var(--green1), var(--green2));

    font-size: 12px;
    font-weight: bold;
    color: #063F00;
    text-decoration: none;

    padding: 2px 10px;

    border-radius: 1000px;
    outline: 1px solid var(--font-green);
}

@media (max-width: 1000px){ 
    .secao{
        margin-bottom: 10px;
        border-bottom: 1px solid var(--red);
        border-radius: 0px 0px 5px 0px;
    }

    .section-img{
        align-self: flex-start;
    }
}

@media (orientation: landscape) and (max-height: 400px){
    #menu-principal{
        gap: 5px;
    }

    .menu-principal-btn a{
        width: 120px;
        height: 40px;
    }



    .section-img{
        width: 100px;
    }
}

@media (max-width:600px){
    #header-logo{
        grid-template-columns: 20% 80% 0%;
    }

    #evolutionLogo{
        margin-left: 10px;
        height: 50px;
    }

    #nameLogo{
        justify-self: end;
    }
}

@media (max-width: 355px){
    #menu-principal{
        gap: 5px;
        padding: 5px;
    }

    .menu-principal-btn{
        width: 100px;
        font-size: 12px;
        padding: 5px;
        border: 1px solid var(--font-green);
        border-radius: 5px;
    }
}
@media (hover: hover) and (pointer: fine) {
    .menu-principal-btn:hover{
        background-image: linear-gradient(var(--green2), var(--green3));
    }

    .open-close-menu:hover{
        border-bottom: 2px solid var(--green1);
        cursor: pointer;
    }

    footer a:hover{
        background-image: linear-gradient(var(--green2), var(--green3));
    }
}

@keyframes floating{
    0%{transform: translateY(0)scale(1);}
    50%{transform: translateY(-10px) scale(1.04);}
    100%{transform: translateY(0)scale(1);}
}