#loginPage{
    height: 98vh;
}

#pageContainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    outline: none;
    border-radius: 0px;
    box-shadow: none;
}

#logo{
    width: 90vw;
    max-width: 500px;
}

#logo img{
    margin: auto;
    width: 100%;
}

#login{
    width: 96vw;
    max-width: 500px;
}

#enfermeiro{
    display: flex;
    width: 50%;
}

#enfermeiro img{
    width: 100%;
    align-self: flex-end;
}

#formulario{
    width: 100%;
}

#formContainer{
    justify-self: flex-start ;
    background-color: white;
    padding: 5px;
    flex-direction: column;
    width: 90%;
    max-width: 200px;
}

.form-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
}

.err-msg{
    line-height: 0.8em;
}

.err-msg{
    color: red;
    font-size: 0.8em;
}

#formContainer button{
    padding:4px ;
    width: 100%;
    margin-bottom: 15px;
}

#login-btn{
    background-color: #5697DB;
    color: white;
}

#evolutionLogo{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    padding: 0;
}

#evolutionLogo img{
    align-self: center;
    width: 40%;
}

#lampada{
    width: 70px;
}

@media(max-width: 600px){
    #pageContainer{
        grid-template-rows: 80% 17% 3%;
        aspect-ratio: 1/1;

        width: 98%;
    }

    #formulario{
        height: 100%;
        width: 100%;
        align-self: end;
        font-size: 14px;
    }

    .form-field{
        margin-top: 1px;
        
    }

    .form-field p{
        font-size: 8px;
        height: 8px;
    }

    form button{
        padding: 2px;
    }
}

@media (max-height: 600px){
    #logo img{
        width: 40%;
    }

    #login{
        width:70%;
    }

    #evolutionLogo{
        width: 40%;
    }

    #lampada{
        width: 30px;
    }
}