#coracaoPage{
    flex-direction: column;
    padding: 10px;
}

main{
    flex-direction: column;
    gap: 20px;
}

#coracaoPage p{
    max-width: 800px;
    text-indent: 30px;
}

main ul{
    list-style-position: inside;
    max-width: 800px;
    line-height: 1.6em;
}

main ul ul{
    margin-left: 30px;
}

li{
    margin-bottom: 10px;
}