@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

#blogPage{
    flex-direction: column;
}
header{
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    align-items: center;
    width: 90vw;
    max-width: 2000px;

    margin: auto;
}

#logo{
    grid-column: 1;
    flex-direction: column;
    
    max-width: 200px;
    padding: 10px;
}

#infoblog{
    padding: 5px;
}

#evolution{
    width: 60%;
}

#logoName{
    width: 100%;
}

#logoLamp{
    width: 20%;
}

#INFO{
    font-family: 'Times New Roman', Times, serif;
    color: var(--blue2);
    font-weight: bold;
    font-style: italic;
    font-size:clamp(1em, 12vw, 5em);

}

#blog{
    font-family: "Niconne", cursive;
    font-weight: 400;
    font-style: normal;
    color: var(--red2);
    font-style: italic;
    font-size:clamp(1em, 12vw, 5em);
}

#blogNav{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    gap: 5px;
    width: 1000px;
    max-width: 96%;
}

#blogNav button{
    display: none;
}

#blogNav ul{
    width: 100%;
    align-self: start;
    padding: 15px 3px;
    justify-content:flex-start ;
    list-style: none;
}

#blogNav ul li{
    text-align: left;
    padding: 10px;
}

#searchField{
    justify-self: end;
    gap: 5px;
    font-weight: bold;
}

#searchInputIco{
    display: none;
}



@media screen and (max-width: 600px){
    #blogNav{
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        align-items: center;
    }

    #navOptions{
        grid-row: 2;
    }

    #blogNav button{
        display: block;
        padding: 10px;
        margin: auto;
    }

    #blogNav ul{
        z-index: 100;
        position: absolute;
        display: none;

        background-color: var(--main-bg);
        flex-direction: column;
        align-items: flex-start;
    }
    #blogNav ul li{
       width: 100%;
    }
    #searchInputIco{
        display: inline;
    }

    #searchInputText{
        display: none;
    }
}