#feedContainer{
    max-width:800px;
    width: 100%;

    margin: auto;
}

.post{
    width: 100%;
    margin-bottom: 50px;
    padding: 20px 0px;
    border-bottom: 2px solid var(--green3);
}

.post-info{
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
}

.post-header{
    padding: 15px;
    background-color: #1c1c1c;
    color: white;
    margin-bottom: 20px;
    border-top-right-radius: 15px;
}

#feedContainer h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.7em;
    margin-bottom: 5px;
}

#feedContainer h3{
    margin-bottom: 5px;
}

#feedContainer p{
    margin-bottom: 10px;
}

#feedContainer img{
    display: block;
    max-width: 100%;
    max-height: 800px;
    margin: auto;
}

.collection{
    position: relative;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.collection button{
    z-index: 100;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    padding: 15px 8px;
    border-radius: 5px;
    color: white;
}

.backward{
    left: 0;
}

.forward{
    right: 0;
}

.imagesContainer{
    position: relative;
    flex-direction: column;
    width: 500px;
    max-width: 100%;
    max-height: 90vh;
    overflow: hidden;
    padding: 30px;
}

.imgInfo{
    position: absolute; /* sobrepõe a imagem */
    bottom: 0px;       /* distância do fundo da imagem */
    right: 50%;        /* distância da direita */
    background-color: rgba(0,0,0,0.5); /* semitransparente */
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 0.9em;
    transform: translateX(50%);
}

.post-footer h4{
    margin-bottom: 5px;
}

.post-footer li{
    list-style-position: inside;
    padding: 5px;
    padding-left:0;
}

@media (max-width:650px){
    .imagesContainer{
        padding: 0px;
    }
}